{% extends 'base.html' %}
{% block title %}
 <title>shop</title>
{% endblock %}

{% block body %}
<header>
     <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal">Registration</h1>
        </div>
</header>
<main>
  <form action="http://127.0.0.1:5000/register" enctype="multipart/form-data" method="post" class="w-50 p-5">
      <input type="file" name="pic" />
      <div class="col-12 p-2">
              <label for="name" class="form-label">Name</label>
              <div class="input-group has-validation">

                <input type="text" class="form-control" id="name" placeholder="name" required="" name="name">
              <div class="invalid-feedback">
                  Your username is required.
                </div>
              </div>
       </div>
      <div class="col-12 p-2">
              <label for="old" class="form-label">Old</label>
              <div class="input-group has-validation">
                  <input type="text" class="form-control" name="old" id="old" placeholder="Old">
                  <div class="invalid-feedback">
                  Your username is required.
                </div>
              </div>
       </div>
      <div class="col-12 p-2">
              <label for="city" class="form-label">city</label>
              <div class="input-group has-validation">
                  <input type="text" class="form-control" name="city" id="city" placeholder="city">
                  <div class="invalid-feedback">
                  Your username is required.
                </div>
              </div>
       </div>
      <div class="col-12 p-2">
              <label for="email" class="form-label">email</label>
              <div class="input-group has-validation">
                  <input type="text" class="form-control" name="email" id="email" placeholder="email">
                  <div class="invalid-feedback">
                  Your username is required.
                </div>
              </div>
       </div>
      <div class="col-12 p-2">
              <label for="psw" class="form-label">Password</label>
              <div class="input-group has-validation">
                  <input type="password" class="form-control" name="psw" id="psw" placeholder="password">
                  <div class="invalid-feedback">
                  Your username is required.
                </div>
              </div>
       </div>
      <div class="col-12 p-2">
              <label for="psw2" class="form-label">Password</label>
              <div class="input-group has-validation">
                  <input type="password" class="form-control" name="psw2" id="psw2" placeholder="password">
                  <div class="invalid-feedback">
                  Your username is required.
                </div>
              </div>
       </div>


    <button class="btn btn-success w-100 btn-primary btn-lg p-2" type="submit">Registration</button>
  </form>
  </main>
{% endblock %}